{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "prettier", "react"
  ],
  "extends": [
    "prettier", "eslint:recommended", "plugin:react/recommended"
  ],
  "rules": {
    "prettier/prettier": ["error", {
      "printWidth": 100,
      "singleQuote": true,
      "trailingComma": "all",
      "bracketSpacing": false,
      "jsxBracketSameLine": true,
      "parser": "flow"
    }],
    "quotes": ["error", "single"],
    "jsx-quotes": ["error", "prefer-double"]
  }
}
