{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "prettier"
  ],
  "extends": [
    "prettier"
  ],
  "rules": {
    "quotes": ["error", "single"],
    "jsx-quotes": ["error", "prefer-double"],
    "prettier/prettier": ["error", "fb"]
  }
}
