.movieDetails {
  padding-bottom: 50px;

  .backBtn {
    text-align: right;
    margin-bottom: 25px;

    .btn {
      background: #3c3d41; // #f35162;
      text-align: center;
      text-decoration: none;
      padding: 5px 10px;
      border-radius: 2px;
      text-transform: uppercase;
      font-family: 'Open Sans', sans-serif;
      color: #f35162; // #fff;
    }
  }

  .movieAvatar {
    display: inline-block;
    width: 30%;
    height: auto;
    margin-right: 100px;

    img {
      width: 100%;
    }
  }

  .movieDescription {
    display: inline-block;
    width: 60%;
    vertical-align: top;
    color: #f8f8f8;

    .title {
      font-size: 36px;
      color: #f35162;
      font-weight: bold;
      margin: 0;

      & + p {
        margin-top: 0;
      }

      .rated {
        font-weight: normal;
        display: inline-block;
        width: 50px;
        height: 50px;
        font-size: 20px;
        text-align: center;
        line-height: 50px;
        border: 1px solid #afea2a;
        color: #afea2a;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
      }
    }

    .descriptionText, .director, .cast {
      width: 80%;
    }

    .descriptionText {
      text-align: justify;
    }

    .director, .cast {
      color: #b3b3b3;
      font-size: 14px;
    }

    .year, .duration {
      font-weight: bold;
      margin-right: 15px;
      color: #fff;
    }
  }

}
