.filters {
  color: #3c3d41;

  .title {
    display: inline-block;
  }

  .filtersList {
    display: inline-block;
    padding: 0;
    margin-left: 20px;


    li {
      font-family: 'Open Sans', sans-serif;
      display: inline-block;
      margin-right: 20px;

      .button {
        background-color: transparent;
        outline: none;
        font-weight: bold;
        text-decoration: none;
        color: #3c3d41;
        border: none;
        cursor: pointer;
      }

      &.active {
        .button {
          color: #f35162;
        }
      }
    }
  }

}
