.container {
  display: block;
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

header {
  background: url(http://pinkius.com/data/wallpapers/105/1072757.jpg) center center;
  height: 350px;
  min-height: 350px;
  color: #fff;
  position: relative;
}
header h1 {
  margin-top: 0;
}

header:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  display: block;
  background: rgba(0, 0, 0, .7);
}

header .container {
  z-index: 2;
}

header form {

}
