.container {
  display: block;
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.footer {
  height: 50px;
  background: #414141;
  line-height: 50px;
  color: #fff;
}

.footer p {
  margin: 0;
}
