@import '~normalize.css';

html, body, #root, .outer {
  font-family: Helvetica, sans-serif;
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

.footer, .push {
  height: 50px;
}
.container {
  display: block;
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
