<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
  <title>React App</title>
</head>
<body>
  <div id="root">
    <%= html %>

    <script>
      // WARNING: See the following for security issues around embedding JSON in HTML:
      // http://redux.js.org/docs/recipes/ServerRendering.html#security-considerations
      window.__PRELOADED_STATE__ = JSON.parse(JSON.stringify(<%- JSON.stringify(preloadedState) %>).replace(/</g, '\\u003c'));
    </script>
  </div>

</body>
</html>
